<div id="landing">
  <div class="landing-title">
    <div class="circle-avatar">
      <img src="/assets/img/avactor.jpg" alt="Avatar">
      <h1>{{site.username}}</h1>
    </div>
    <div class="landing-icons">
      {% if site.email != null %}
        <a class="social-link email" aria-label="My E-Mail" href="mailto:{{site.email}}">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#envelope" | prepend: site.baseurl }}""></use>
            </svg>
          </div>
          <span class="label">E-Mail</span>
        </a>
      {% endif %}

      {% if site.github_username != null %}
        <a class="social-link" aria-label="My GitHub" target="_blank" rel="noreferrer"
          href="https://github.com/{{site.github_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">GitHub</span>
        </a>
      {% endif %}

      {% if site.bilibili_username != null %}
        <a class="social-link bilibili" aria-label="My Bilibili" target="_blank" rel="noreferrer"
          href="https://www.bilibili.com/"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#bilibili" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Bilibili</span>
        </a>
      {% endif %}

      {% if site.douban_username != null %}
        <a class="social-link douban" aria-label="My Douban" target="_blank" rel="noreferrer"
          href="https://www.douban.com/people/{{site.douban_username}}/?_i=4361601TdD8ekt"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#douban" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">豆瓣</span>
        </a>
      {% endif %}

      {% if site.zhihu_username != null %}
        <a class="social-link linkedin" aria-label="My Zhihu" target="_blank"
          rel="noreferrer" href="https://www.zhihu.com/people/{{site.zhihu_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#zhihu" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">知乎</span>
        </a>
      {% endif %}

      {% if site.microcosm_username != null %}
        <a class="social-link microcosm" aria-label="My Microcosm" target="_blank"
          rel="noreferrer" href="https://www.xiaoyuzhoufm.com/"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#microcosm" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">小宇宙</span>
        </a>
      {% endif %}
    </div>

    <div id="snowflakes-container"></div>
    <script>
      document.addEventListener('visibilitychange', handleVisibilityChange, false);
      // 页面加载时开始下雪
      startSnowing();

      function createSnowflake() {
        const snowflake = document.createElement('div');
        snowflake.classList.add('snowflake');
        snowflake.innerText = '❄';
        snowflake.style.left = Math.random() * window.innerWidth + 'px';
        snowflake.style.animationDuration = Math.random() * 20 + 15 + 's'; // 随机动画持续时间
        snowflake.style.opacity = Math.random();
        snowflake.style.fontSize = Math.random() * 20 + 10 + 'px';

        document.body.appendChild(snowflake);

        // 动画结束后移除雪花
        snowflake.addEventListener('animationend', function() {
            snowflake.remove();
        });
      }

      function startSnowing() {
        snowflakeInterval = setInterval(createSnowflake, 300); // 开始产生雪花
      }

      function stopSnowing() {
        clearInterval(snowflakeInterval); // 停止产生雪花
      }

      // 当文档的可见性改变时调用此函数
      function handleVisibilityChange() {
        if (document.hidden) {
          stopSnowing(); // 页面不可见，停止产生雪花
        } else {
          startSnowing(); // 页面可见，开始产生雪花
        }
      }
    </script>
  </div>
</div>
