/* Imports */

// @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

/* Variables */

$small-screen: 48em !default;
$medium-screen: 62em !default;
$large-screen: 75em !default;
$font-family: -apple-system, "Comic Sans MS", cursive, sans-serif;
$font-family-numbers: -apple-system, "Comic Sans MS", cursive, sans-serif;
$font-size-base: 1rem !default;
$font-size-h1: 2rem !default;
$font-weight-strong: 600;
$text-color: #fff !default;
$bg-color: rgba(235, 195, 126, 1);
$primary-color: #ea715f;

/* General */

html {
  background: $bg-color;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: normal;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

/* Typography */

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-strong;
  line-height: 2rem;
}

p {
  word-spacing: 0.1rem;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
  }
}

.highlight-title {
  color: $primary-color;
  text-shadow: 0.25rem 0.25rem 0.25rem $primary-color;
}

.highlight-link {
  box-shadow: inset 0 -0.125rem 0 $primary-color;
  box-sizing: border-box;
  color: $primary-color;
  display: inline-block;
  padding: 0.125rem 0.125rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: inset 0 -2rem 0 0 $primary-color;
    color: $text-color;
  }
}

/* Preloader */

#preloader {
  align-items: center;
  background: $bg-color;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  z-index: 999;

  .load {
    height: 6rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
  }

  .load hr {
    animation: spin 2s ease infinite;
    border: 0;
    height: 40%;
    margin: 0;
    position: absolute;
    width: 40%;
  }

  .load :first-child {
    animation-delay: -1.5s;
    background: $text-color;
  }

  .load :nth-child(2) {
    animation-delay: -1s;
    background: $primary-color;
  }

  .load :nth-child(3) {
    animation-delay: -0.5s;
    background: $text-color;
  }

  .load :last-child {
    background: $primary-color;
  }

  @keyframes spin {
    0%,
    100% {
      transform: translate(0);
    }
    25% {
      transform: translate(160%);
    }
    50% {
      transform: translate(160%, 160%);
    }
    75% {
      transform: translate(0, 160%);
    }
  }
}

/* Landing Page */

.circle-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}


#landing {
  background: $bg-color;
  color: $text-color;
  // display: flex;
  // height: 100%;
  // margin: 0.5rem;
  // padding: 0.5rem;
  // text-align: center;
  // overflow: hidden;
}



.landing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 使用视口高度确保内容垂直居中 */
}

.landing-icons {
  display: flex;
  justify-content: center;

  .social-link {
    color: $text-color;
    position: relative;
    height: 3rem;
    line-height: 3rem;
    margin: 0.25rem;
    width: 3rem;

    .circle {
      animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
      fill: none;
      stroke-dasharray: 40;
      transition: all 0.2s ease-in-out;
    }

    .social {
      font-size: 1.5rem;
      position: absolute;
      top: 0px;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }

    .social-svg {
      fill: white;
    }

    .label {
      display: none;
    }

    &:hover {
      cursor: pointer;

      .circle {
        animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
          colorBlackIcon 1s linear forwards;
        fill: $text-color;
        fill-opacity: 1;
      }

      .social-svg {
        fill: #000;
      }

      .label {
        display: block;
        position: relative;
        top: -2rem;
        text-align: center;
      }
    }
  }

  .email:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorEmail 1s linear forwards;
    }
    .social-svg {
      fill: #d44638;
    }
  }

  .infoq:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorInfoQ 1s linear forwards;
    }
    .social-svg {
      fill: #34b762;
    }
  }

  .microcosm:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorMicrocosm 1s linear forwards;
    }
    .social-svg {
      fill: #1da1f2;
    }
  }

  .bilibili:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorBilibili 1s linear forwards;
    }
    .social-svg {
      fill: #f9515d;
    }
  }

  .douban:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorDouban 1s linear forwards;
    }
    .social-svg {
      fill: #43bc56;
    }
  }

  @keyframes outWaveIn {
    to {
      stroke-dasharray: 510;
      stroke-width: 0.5rem;
    }
  }

  @keyframes outWaveOut {
    from {
      stroke: $text-color;
      stroke-dasharray: 510;
      stroke-width: 0.5rem;
    }
    to {
      stroke: $text-color;
      stroke-dasharray: 83;
      stroke-width: 0.5rem;
    }
  }

  @keyframes colorBlackIcon {
    to {
      stroke: #000;
    }
  }

  @keyframes colorEmail {
    to {
      stroke: #b23121;
    }
  }

  @keyframes colorInfoQ {
    to {
      stroke: #34b762;
    }
  }

  @keyframes colorMicrocosm {
    to {
      stroke: #1da1f2;
    }
  }

  @keyframes colorBilibili {
    to {
      stroke: #f9515d;
    }
  }

  @keyframes colorDouban {
    to {
      stroke: #43bc56;
    }
  }

}

/* 雪花动画 */
.snowflake {
  position: fixed;
  top: -10px;
  z-index: 9999;
  color: #fff;
  user-select: none;
  pointer-events: none;
  animation-name: fall;
}

@keyframes fall {
  to {
      transform: translateY(100vh);
  }
}

.social-link.email {
  position: relative;
}

.email-address {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 15px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.5;
  border-radius: 4px;

  // 添加提示框样式
  &::before {
    content: "已复制！";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 2px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  
  // 复制成功时的状态
  &.copied::before {
    opacity: 1;
    visibility: visible;
  }
}
.email-address:hover {
  background-color: rgba(255, 255, 255, 0.5);
}