<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Lemoon's Blog</title>
    <meta name="description" content="柠橗罐的博客" />

    <link rel="icon" type="image/png" sizes="32x32" href="{{"/assets/favicon/moon-32x32.png" | prepend: site.baseurl }}"> 
    <link rel="icon" type="image/png" sizes="16x16" href="{{"/assets/favicon/moon-16x16.png" | prepend: site.baseurl }}"> 
    <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">
  </head>
  <body>
    {{content}}
  </body>
</html>
